body {
	font-family: "Avenir", sans-serif;
	margin:auto;
	padding-left: 10%;
	padding-top: 100px;
	background:rgb(247, 250, 252);
}


.left{
	font-size:20;
}

#canvas {
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	background:rgb(247, 250, 252);
}



input[type=radio][class=right]{
	position: absolute;
	visibility: hidden;
}



input[type=checkbox]{
	position: absolute;
	visibility: hidden;
}

label{
	position: relative;
	padding: 2px 2px 2px 2px;
	cursor: pointer;
	-webkit-transition: all 0.15s linear;
	border-radius:4px;
	margin:3px;
}

label:hover{
	background:rgb(91, 184, 255);
	position: relative;
	padding: 2px 2px 2px 2px;
	cursor: pointer;
	-webkit-transition: all 0.15s linear;
	border-radius:4px;
	margin:3px;

}

input[type=radio][class=right]:checked + label{
  	background:rgb(91, 184, 255);
  	color:#ffffff;
  	margin:3px;

}




input[type=checkbox]:checked + label{
  	background:rgb(91, 184, 255);
  	color:#ffffff;
  	margin:3px;
}


input[type="submit"]{
	display: inline;
	background: rgb(91, 184, 255);
	width: 100px;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	border: 0px;
	margin: auto;
	border-radius: 5px;
	font-size: 12px;
}

input[type="submit"]:hover{
	display: inline;
	background: rgb(85, 171, 237);
	width: 100px;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	border: 0px;
	margin: auto;
	border-radius: 5px;
	font-size: 12px;
}


.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
/*Search Bar Mask Effect*/

/* Pop up layer*/
.pop-box2 {   
    z-index: 9999;
    margin:0; 
    display: none;
    position:fixed;
    background-color: rgb(91, 184, 255);
}
 
.pop-box2 header {
    padding:12px 0 0 12px;
    margin:0;
    height:25px;
}

.pop-box2 h3  {
    color:#555;
    font-size:13px;
    margin:0;
}

.pop-box-body2 {   
    clear: both;   
    padding:0 13px 13px 13px;
    margin: 0;  
    font-size:13px;  
} 

.mask2 {
    width:100%;
    height:100%;
    position:fixed;
    top:50;
    left:0;
    background-color:#666;
    filter: Alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    z-index: 9998; 
} 







